<h2>
  Hay <b>{{ found.length }}</b> cotizaciones pendientes de revisar
</h2>

<div class="container-xl">
  <div class="row text-center">
    <!-- Box 1 -->
    <h1 *ngIf="!found.length">
      <br /><br />
      No hay cotizaciones revisadas, que tal si hacemos otra cosa?
      <!-- Siento que deberias hacer otra cosa, pin$h3 empleado 🥚-->
    </h1>
    <div
      class="col-md-6"
      *ngFor="let item of found"
      [attr.data-bs-theme]="modo"
    >
      <div class="grid-container card">
        <br />
        <div class="grid-item image">
          <img
            [src]="item.imagen"
            class="img-fluid square-img rounded"
            alt="Imagen 1"
          />
        </div>
        <br />
        <div class="grid-item info">
          <div class="card-body">
            <b>
              <p class="card-title">{{ item.articulo }}</p>
            </b>
            <p>{{ item.caracteristicas }}</p>
            <p class="card-text">
              Valor deseado: <b>${{ item.cotizacion }}</b>
            </p>
            <br />
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex flex-column">
            <button class="btn btn-primary mb-2" (click)="onReview(item.id)">
              <i class="bi bi-eye"></i>&nbsp;&nbsp;&nbsp;Ver / Editar Articulo
            </button>
            <button class="btn btn-info mb-2" (click)="onMessage(item.id)">
              <i class="bi bi-envelope-at"></i>&nbsp;&nbsp;&nbsp;Enviar Mensaje
            </button>
            <button class="btn btn-success mb-2" (click)="onPawn(item.id)">
              <i class="bi bi-check-circle"></i>&nbsp;&nbsp;&nbsp;Autorizar
              articulo
            </button>
            <button class="btn btn-danger mb-2" (click)="onReject(item.id)">
              <i class="bi bi-x-circle-fill"></i>&nbsp;&nbsp;&nbsp;Rechazar
              articulo
            </button>
          </div>
        </div>
      </div>
      <!-- Esto regresa la app a la pagina anterior -->
    </div>
  </div>
</div>
<app-abc-modal (close)="onCloseModal()" [ngModel]="modal">
  <app-quotation-item
    *ngIf="editing"
    [locked]="true"
    [id]="id"
    [ngModel]="formEdit"
  >
  </app-quotation-item>
  <app-autorize-item
    *ngIf="authorizing"
    [id]="id"
    [ngModel]="formAuthorize"
  ></app-autorize-item>
  <app-message *ngIf="messaging" [id]="id"> </app-message>
  <app-reject-item *ngIf="rejecting" [id]="id"> </app-reject-item>
</app-abc-modal>
