<footer
  class="pata"
  [ngClass]="{
    'darker-mode': darkModeService.isDarkModeEnabled() | async,
    'light-mode': !(darkModeService.isDarkModeEnabled() | async)
  }"
>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-12 col-lg-6">
        <!-- Una columna en móvil y dos columnas en escritorio -->
        <div class="row">
          <div
            class="col-12 col-md-6"
            [ngClass]="screen.isDesktop() && item.even ? 'text-end' : ''"
            *ngFor="let item of _items"
          >
            <app-footer-item [href]="item.href" [target]="'_'+(item.targetBlank?'blank':'self')">{{
              item.name
            }}</app-footer-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
