.pata {
  padding: 50px 10%;
}

.f_items {
  display: flex;
  flex-wrap: wrap; /* Asegura que los elementos se envuelvan en dispositivos móviles */
  justify-content: space-around; /* Centra las columnas en dispositivos móviles */
}

.col {
  flex: 1; /* Hace que las columnas ocupen el mismo espacio */
  min-width: 0; /* Evita que las columnas se desborden en dispositivos móviles */
  padding: 20px; /* Espaciado entre las columnas */
  box-sizing: border-box; /* Asegura que el relleno y el borde no aumenten el tamaño total */
}

/* Agrega estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .f_items {
    flex-direction: column; /* Una columna en dispositivos móviles */
    align-items: center; /* Centra los elementos en dispositivos móviles */
  }
}

/* Agrega estilos específicos para dispositivos de escritorio */
@media (min-width: 768px) {
  .f_items {
    flex-direction: row; /* Dos columnas en escritorio */
  }
}
