<footer class="pata"
  [ngClass]="{
    'darker-mode': darkModeService.isDarkModeEnabled() | async,
    'light-mode': !(darkModeService.isDarkModeEnabled() | async)
  }"
>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-12 col-lg-6">
        <!-- Una columna en móvil y dos columnas en escritorio -->
        <div class="row">
          <div class="col-12 col-md-6 animate__animated animate__fadeIn animate__slideInDown">
            <app-footer-item>Bolsa de trabajo</app-footer-item>
          </div>
          <div class="col-12 col-md-6 text-end animate__animated animate__fadeIn animate__slideInDown">
            <app-footer-item>Viva Angular mirrei</app-footer-item>
          </div>
          <div class="col-12 col-md-6 animate__animated animate__fadeIn animate__slideInDown">
            <app-footer-item>Odio Angular</app-footer-item>
          </div>
          <div class="col-12 col-md-6 text-end animate__animated animate__fadeIn animate__slideInDown">
            <app-footer-item>When te drogas</app-footer-item>
          </div>
          <div class="col-12 col-md-6 animate__animated animate__fadeIn animate__slideInDown">
            <app-footer-item>Como llegar?</app-footer-item>
          </div>

          <div class="col-12 col-md-6 text-end animate__animated animate__fadeIn animate__slideInDown">
            <!-- <app-footer-item>?</app-footer-item> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
