<footer class="pata"
  [ngClass]="{
    'darker-mode': darkModeService.isDarkModeEnabled() | async,
    'light-mode': !(darkModeService.isDarkModeEnabled() | async)
  }"
>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-12 col-lg-6">
        <!-- Una columna en móvil y dos columnas en escritorio -->
        <div class="row">
          <div class="col-12 col-md-6">
            <app-footer-item><b>Trabaja con nosotros</b></app-footer-item>
          </div>
          <div class="col-12 col-md-6" [ngClass]="screen.isDesktop()?'text-end':''">
            <app-footer-item>Vacantes</app-footer-item>
          </div>
          <div class="col-12 col-md-6">
            <app-footer-item><b>Empeñar</b></app-footer-item>
          </div>
          <div class="col-12 col-md-6" [ngClass]="screen.isDesktop()?'text-end':''">
            <app-footer-item>Como puedo empeñar?</app-footer-item>
          </div>
          <div class="col-12 col-md-6">
            <app-footer-item>Que puedo empeñar?</app-footer-item>
          </div>
          <div class="col-12 col-md-6">
            <app-footer-item><b>Empeños Pesados</b></app-footer-item>
          </div>
          <div class="col-12 col-md-6" [ngClass]="screen.isDesktop()?'text-end':''">
            <app-footer-item>Nosotros</app-footer-item>
          </div>
          <div class="col-12 col-md-6">
            <app-footer-item>Mision y vision </app-footer-item>
          </div>
          <div class="col-12 col-md-6" [ngClass]="screen.isDesktop()?'text-end':''">
            <!-- <app-footer-item>?</app-footer-item> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
