.card {
  /* Estilos base */
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.card:hover {
  width: 95%; /* Cambia el ancho en el hover */
  height: 95%; /* Cambia la altura en el hover */
  background: #bbb; /* Cambia el color de fondo en el hover */
  z-index: 1;
}

.darker-mode:hover{
  background:#212152;
}
.light-mode:hover{
  background:lightblue;
}
.card {
  /* width: 100px;
  height: 100px; */
  /* background-color: #3498db; */
  transition: all 0.3s ease; /* Agregamos una transición para suavizar el cambio de tamaño */
}
