<form (submit)="createNewClient()">
  <div class="mb-3">
    <label for="clientNombre" class="form-label">Nombre:</label>
    <input
      [(ngModel)]="newClient.nombre"
      type="text"
      class="form-control"
      id="clientNombre"
      name="nombre"
      placeholder="Nombre completo"
      required
    />
  </div>

  <div class="mb-3">
    <label for="clientDireccion" class="form-label">Dirección:</label>
    <input
      [(ngModel)]="newClient.direccion"
      type="text"
      class="form-control"
      id="clientDireccion"
      name="direccion"
      placeholder="Dirección completa"
      required
    />
  </div>

  <div class="mb-3">
    <label for="clientTelefono" class="form-label">Teléfono:</label>
    <input
      [(ngModel)]="newClient.telefono"
      type="text"
      class="form-control"
      id="clientTelefono"
      name="telefono"
      placeholder="Número de teléfono"
      required
    />
  </div>

  <div class="mb-3">
    <label for="clientCurp" class="form-label">CURP:</label>
    <input
      [(ngModel)]="newClient.curp"
      type="text"
      class="form-control"
      id="clientCurp"
      name="curp"
      placeholder="CURP"
      required
    />
  </div>

  <div class="mb-3">
    <label for="clientEmail" class="form-label">Email:</label>
    <input
      [(ngModel)]="newClient.email"
      type="email"
      class="form-control"
      id="clientEmail"
      name="email"
      placeholder="Correo electrónico"
      required
    />
  </div>
  <br />
  <div class="text-end">
    <button type="submit" class="btn btn-primary">Guardar Cliente</button>
  </div>
</form>
