<div class="text-center">
  <h2><b>Simulador de Empeño</b></h2>
  <p>Ingresa los detalles a continuación:</p>
  <div class="col-mx-5">
    <form (ngSubmit)="calcularCuota()">
      <div class="form-group">
        <label for="tipoItem">Tipo de Item:</label>
        <select
          [ngClass]="{
            'darker-mode': darkModeService.isDarkModeEnabled() | async,
            'lighter-mode': !(darkModeService.isDarkModeEnabled() | async)
          }"
          class="form-control"
          id="tipoItem"
          name="tipoItem"
          [(ngModel)]="tipoItem"
          required
        >
          <option
            [ngClass]="{
              'darker-mode': darkModeService.isDarkModeEnabled() | async,
              'lighter-mode': !(darkModeService.isDarkModeEnabled() | async)
            }"
            class=""
            value="Selecciona un tipo de ítem"
            disabled
          >
            Selecciona un tipo de ítem
          </option>
          <option
            [ngClass]="{
              'darker-mode': darkModeService.isDarkModeEnabled() | async,
              'lighter-mode': !(darkModeService.isDarkModeEnabled() | async)
            }"
            class=""
            *ngFor="let item of tiposItem"
            [value]="item.tipo"
          >
            {{ item.verbosename }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="monto">Monto Esperado:</label>
        <input
          type="number"
          class="form-control col-6 mx-auto"
          [attr.data-bs-theme]="modo"
          id="monto"
          name="monto"
          placeholder="Monto"
          [(ngModel)]="monto"
          required
        />
      </div>

      <div class="form-group">
        <label for="dias">Días de Empeño:</label>
        <input
          type="number"
          class="form-control col-6 mx-auto"
          [attr.data-bs-theme]="modo"
          id="dias"
          name="dias"
          placeholder="Días"
          [(ngModel)]="dias"
          required
        />
      </div>


      <br />
      <button
        (click)="toggleModal()"
        type="button"
        class="btn float-end"
        [ngClass]="modo + '-mode'"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
      >
        Calcular Préstamo
      </button>

      <br />
      <br />
      <br />
      <!-- <button [attr.data-bs-theme]="modo" type="submit" class="btn btn-primary float-end">Enviar</button> -->
    </form>
  </div>

  <a class="btn btn-primary" routerLink="..">Presiona aqui para regresar</a>
</div>

<div
  [ngClass]="{
    active: modal
  }"
  class="modal-container"
  [ngStyle]="{
    background: modo === 'dark' ? '#0007' : '#fff7',
    'z-index': !modal ? -2 : 1
  }"
>
  <div
    class="modal-content"
    [ngStyle]="{ background: modo === 'dark' ? '#000f' : '#ffff' }"
  >
    <button (click)="hideAlert()" class="btn-close">X</button>
    <div *ngIf="valid">
      <h3>Detalles del Préstamo <i class="bi bi-gem"></i></h3>
      <!-- Aquí muestra los detalles del préstamo, por ejemplo: -->
      <p>Tipo de Item: {{ tipoItem }}</p>
      <p>Días de Empeño: {{ dias }}</p>
      <p>Monto Esperado: {{ monto | currency : "USD" : "symbol" : "1.2-2" }}</p>
    </div>
    <div *ngIf="!valid">
      <h3>Error <i class="bi bi-exclamation-triangle"></i></h3>
      <p>Campos Vacíos</p>
    </div>
    <button (click)="hideAlert()" class="btn">Cerrar</button>
  </div>
</div>
