<div class="contenido">
  <h1>
    Productos de este banco noob :v
  </h1>
  <h2>Habemus Tarjeta de credito</h2>
  <!-- <app-img p="/assets/tdc.png,tdc nub,20%,r"></app-img> -->
  <app-card></app-card>
  <p>Este producto consiste en que te prestamos dinero desde una tarjeta, pero nos lo tienes que reponer a fin de quincena W.
    <br> En caso de que nos demos cuenta que no nos has pagado, te vamos a cobrar interes, y eventualmente mas interes hasta
    que te arrepientas de sacarla, y si no pagas te vamos a chingar por llamada hasta que pagues maldito perro.
    <br> Pinche pobre.
  </p>

</div>
