body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 20px;
  }
  
  h2 {
    color: black;
    margin-bottom: 8px;
    cursor: pointer; /* Hace que el puntero se transforme en una mano al pasar sobre el encabezado */
  }
  
  p {
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;
    display: none; /* Oculta las respuestas por defecto */
  }
  
  h2:hover {
    text-decoration: underline; /* Subraya el encabezado al pasar el ratón sobre él */
  }
  
  /* Muestra la respuesta cuando el encabezado está precedido por :hover */
  h2:hover + p {
    display: block;
  }
  
  /* Separación entre preguntas y respuestas */
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Estilo para el contenedor de cada pregunta y respuesta */
  .qa-container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .qa-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  