<h2>Preguntas Frecuentes (FAQ)</h2>
<p>En empeños pesados, nos preocupamos por resolver tus dudas</p>
<br>

<div>
  <app-collapsible-menu titulo="¿Cómo funciona el proceso empeño?" [modo]="modo">
    <p>El proceso de empeño implica traer el artículo que deseas empeñar a
        nuestras instalaciones. Nuestro equipo de profesionales lo evaluará para
        determinar su valor. Una vez acordado, te proporcionaremos un préstamo
        basado en ese valor. Se establecerán términos claros, incluyendo el
        período del préstamo y las condiciones para recuperar tu artículo. Una
        vez cumplidos los términos, puedes recuperar tu artículo pagando el
        préstamo más los intereses correspondientes.
    </p>
  </app-collapsible-menu>
</div>
<br>
<div>
  <app-collapsible-menu
    titulo="¿Cómo se determina el valor de un artículo?"
    [modo]="modo"
  >
    <p>Valoramos los artículos en función de su condición, demanda del mercado
        y valor de mercado. Nuestro experimentado equipo evaluará cada artículo
        de manera justa y transparente.
    </p>
  </app-collapsible-menu>
</div>
<br>
<div>
  <app-collapsible-menu
    titulo="¿Cuánto tiempo tengo para recuperar mi artículo empeñado?"
    [modo]="modo"
  >
    <p>El período para recuperar tu artículo empeñado se acuerda durante la
        transacción.
          </p>
  </app-collapsible-menu>
</div>
<br>
<div>
  <app-collapsible-menu
    titulo="¿Qué sucede si no puedo recuperar mi artículo?"
    [modo]="modo"
  >
    <p>obre la venta de artículos no reclamados. Estamos comprometidos a
        manejar estos casos de manera justa y transparente.
    </p>
  </app-collapsible-menu>
</div>
<br>
<div>
  <app-collapsible-menu
    titulo="¿Cuáles son las tasas de interés y tarifas?"
    [modo]="modo"
  >
    <p>Proporcionamos información detallada sobre las tasas de interés
        aplicables y cualquier tarifa adicional asociada con el préstamo.
        Queremos que tengas toda la información necesaria.
    </p>
  </app-collapsible-menu>
</div>
<br>
  <div>
    <app-collapsible-menu
      titulo="¿Está asegurado mi artículo mientras está en la casa de empeños?"
      [modo]="modo"
    >
      <p>Sí, todos los artículos almacenados en nuestra casa de empeños están
          asegurados para garantizar su seguridad y protección.
      </p>
    </app-collapsible-menu>
  </div>
  <br>


<h3>Deseas empeñar ahora mismo? entra en nuestro apartado de <app-link>Empeños</app-link></h3>
  <!-- <script src="script.js"></script> -->
