.margen{
  height: 64px;
  width: 100;
}

.cuerpo
{
  width: 60%;
  height: 100vh;
  /* border-radius: 10px 10px 0 ; */
  background-color: #eaeaea;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px 50px;
  z-index: -1;
}

.pata
{
  background: #fafafa;
  padding: 50px 20%;
}
.f_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  position: relative;
}
.r{
  left: 0;
}
.l{
  right: 0;
}
