*{
  font-family: 'Consolas';
  font-weight: bolder;
}
header{
  height: 64px;
    /* background: #fafafa; */
    position: fixed;
    top:0;
    width: 100%;


}
.items {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

.items div
{
  display: grid;
  place-items: center;
  /* top:2px; */
}

#acciones div{
  display: flex;
  flex-direction: row;
}
#acciones{
  place-items: baseline;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}
