<nav
  class="navbar navbar-expand-lg"
  [class]="modo + (modo === 'dark' ? 'er' : '') + '-mode'"
>
  <div class="container-fluid">
    <app-logo [admin]="admin" class="navbar-brand"></app-logo>
    <a
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      [attr.data-bs-theme]="modo"
    >
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav"
    [class]="modo === 'dark' ? 'd' : 'l'">
      <div class="ms-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of (admin?getAdminItems():getItems())">
          <a class="nav-link active" aria-current="page" [href]="(admin?'admin':'web')+'/'+item.href">{{item.name}}</a>
        </li>
        <li class="nav-item ms-auto">
          <app-switch-dark-mode class="nav-link suich"></app-switch-dark-mode>
        </li>
      </ul>
      <div class="ms-auto">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
          >Iniciar Sesion</a
        >
      </div>
    </div>
  </div>
</nav>
