@media (min-width: 992px) {
  app-switch-dark-mode
  {position: absolute; top: 18%;}
}
.l .nav-link {
  color: #000 !important; /* Color de texto para el modo claro */
}
.d .nav-link {
  color: #fff !important; /* Color de texto para el modo oscuro */
}
