<!-- TODO:
Hacerla responsive que cuando se vea en vertical, sea responsive
-->

<header [ngClass]="{
  'darker-mode': darkModeService.isDarkModeEnabled() | async,
  'light-mode': !(darkModeService.isDarkModeEnabled() | async)
}">
  <div class="items" [ngClass]="{
    'darker-mode': darkModeService.isDarkModeEnabled() | async,
    'light-mode': !(darkModeService.isDarkModeEnabled() | async)
  }">
    <div id="logo">
      <app-logo></app-logo>
    </div>
    <div id="acciones" >
      <ul>
        <app-actions url="/newaccount" id="open">Abrir Cuenta</app-actions>
        <app-actions url="/products" id="prods">Productos</app-actions>
        <app-actions id="invest">Invertir</app-actions>
        <app-actions id="faq">Preguntas Frecuentes</app-actions>
        <app-actions id="dev">Para Desarrolladores</app-actions>
      </ul>
    </div>
    <div id="bar">
        <app-actions>Login</app-actions>
    </div>
  </div>
</header>
