<nav
  class="navbar navbar-expand-lg"
  [class]="modo + (modo === 'dark' ? 'er' : '') + '-mode'"
>
  <div class="container-fluid">
    <app-logo [admin]="true" class="navbar-brand"></app-logo>
    <a
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      [attr.bs-]
      [attr.data-bs-theme]="modo"
    >
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav"
    [class]="modo === 'dark' ? 'd' : 'l'">
      <div class="ms-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pico" href="#">Características</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
            >Deshabilitado</a
          >
        </li>
        <li class="nav-item ms-auto">
          <app-switch-dark-mode class="nav-link suich"></app-switch-dark-mode>
        </li>
      </ul>
      <div class="ms-auto">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
          >Iniciar Sesion</a
        >
      </div>
    </div>
  </div>
</nav>
