<div class="text-center">
  <h2><b>Simulador de Empeño</b></h2>
  <p>Ingresa los detalles a continuación:</p>
  <div class="col-mx-5">
    <form (ngSubmit)="calcularCuota()">
      <div class="form-group">
        <label for="tipoItem">Tipo de Item:</label>
        <select class="form-control" id="tipoItem" name="tipoItem" [(ngModel)]="tipoItem" required>
          <option value="Selecciona un tipo de ítem" disabled>Selecciona un tipo de ítem</option>
          <option *ngFor="let item of tiposItem" [value]="item.tipo">{{ item.tipo }}</option>
        </select>


      </div>

      <div class="form-group">
        <label for="dias">Días de Empeño:</label>
        <input type="number" class="form-control" id="dias" name="dias" placeholder="Días" [(ngModel)]="dias" required>
      </div>

      <div class="form-group">
        <label for="monto">Monto Esperado:</label>
        <input type="number" class="form-control" id="monto" name="monto" placeholder="Monto" [(ngModel)]="monto" required>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
