<div>
  <h2>Información General</h2>
  <p>
    En nuestra Casa de Empeños, entendemos que 
    la vida está llena de imprevistos financieros. 
    Es por eso que ofrecemos una alternativa única 
    para aquellos momentos en los que necesitas 
    efectivo de manera rápida y segura. 
    En Emepños Pesados, transformamos tus objetos 
    valiosos en soluciones financieras inmediatas.
  </p>
  <br />

  <h3>Hola, aqui en empeños pesados puedes empeñar 
    los siguientes articulos:</h3>
  <app-itemlist></app-itemlist>

  <div class="text-center">
    <h4>Un préstamo a tu alcance</h4>

    <p><b>Simula ahora y da el primer paso para 
      la solicitud de tu préstamo.

    </b></p>
  <!-- <br /> -->

  <a class="btn btn-primary" routerLink="calc"
    >Presiona aqui para ir a la calculadora de interes</a
  >
  </div>
</div>
