app-itemcard {
  /* width: 100px;
  height: 100px; */
  /* background-color: #3498db; */
  transition: all 0.3s ease; /* Agregamos una transición para suavizar el cambio de tamaño */
  margin:20px auto;
  /* height: 100px; */
  /* background:#fff; */
  display: grid;
  place-items: center;
}
