<div
  class="text-center"
  [ngClass]="{
  'row': screen.isDesktop(),
  'col': screen.isMobile(),
}"
>
  <app-itemcard class="col-md-3" icon="gem">Joyería</app-itemcard>
  <app-itemcard class="col-md-3" icon="car-front">Autos</app-itemcard>
  <app-itemcard class="col-md-3" icon="bicycle"
    >Bicicletas y Motos</app-itemcard
  >
  <app-itemcard class="col-md-3" icon="pc-display-horizontal"
    >Computadoras y Laptops</app-itemcard
  >
  <app-itemcard class="col-md-3" icon="pci-card"
    >Componentes electrónicos</app-itemcard
  >
  <app-itemcard class="col-md-3" icon="phone">Celulares</app-itemcard>
  <app-itemcard class="col-md-3" icon="nintendo-switch"
    >Consolas y Videojuegos</app-itemcard
  >
  <app-itemcard class="col-md-3" icon="watch">Relojes</app-itemcard>
  <app-itemcard class="col-md-3" icon="camera">Cámaras</app-itemcard>
  <app-itemcard class="col-md-3" icon="boombox"
    >Dispositivos de audio</app-itemcard
  >
  <app-itemcard class="col-md-3" icon="speaker">Bocinas</app-itemcard>
  <!-- <app-itemcard class='col-md-3' icon="laptop">Tablets y eReaders</app-itemcard> -->
  <app-itemcard class="col-md-3" icon="tv">Electrodomésticos</app-itemcard>
  <!-- <app-itemcard class='col-md-3' icon="bag-check">Ropa y Accesorios</app-itemcard> -->
  <!-- Agrega más elementos según los artículos que empeñes -->
</div>
