.cuerpo
{
  /* border-radius: 10px 10px 0 ; */
  /* background-color: #eaeaea; */
  min-height: 75vh;
  position: relative;
  /* padding: 3%; */
  /* z-index: -1; */
}
/* Movil kgDa */
@media (max-width: 768px) {
  .cuerpo
{
  max-width: 100%;
  width: 100%;
  /* min-height: 50vh; */
  /* border-radius: 10px 10px 0 ; */
  /* background-color: #eaeaea; */
  padding: 50px 10px;
  /* z-index: -1; */
}

}
/* Desktop */
@media (min-width: 769px) {
  .cuerpo
  {
    max-width: 95%;
    /* min-height: 70vh; */
    padding: 50px 30px;

  }
}
