<h1>Empeños Pesados: Facilitando tus Finanzas</h1>
<h3>Olvida la burocracia de empeñar en persona</h3>
<p>
  En Empeños Pesados, te ahorramos la molestia de ir a lugares inseguros para empeñar tus objetos. Evita riesgos y obtén el respaldo que necesitas. En Empeños Pesados, hacemos las cosas fáciles para ti.
</p>
<h3 class="text-center">
  "En Empeños Pesados, empeñamos de todo, ¡incluso hasta el semestre!"
</h3>
<h2>¿Por qué elegir Empeños Pesados?</h2>
<p>Aquí tienes varias opciones para empeñar, incluyendo:</p>
<!-- Inserta aquí los artículos que aceptamos para empeño -->
<div class="text-center" [ngClass]="{
  'row': screen.isDesktop(),
  'col': screen.isMobile(),
}">
<app-item-card></app-item-card>
<app-item-card></app-item-card>
<app-item-card></app-item-card>
<app-item-card></app-item-card>
<app-item-card></app-item-card>

</div>
<section class="section-tienda">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
                                                          <div class="container-title-icon">
          <div class="row">
            <div class="col-2 container-icon">
                                <img src="https://empenofacil.com/uploads/servicio-al-cliente-empeno-facil.webp" loading="lazy" alt="casa-de-empeño-seguro" title="casa-de-empeño-seguro" width="100%" height="100%">
                            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 container-desc">
              <h2>Te entendemos, te ayudamos y te préstamos rápido.</h2>
              <p></p><p>¡Visítanos en tu Empeño Fácil más cercano!</p><p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 container-btn">
                                        <a href="https://empenofacil.com/encuentra-tu-tienda" class="btn-marine">Encuentra Tu Tienda</a>
                </div>
            </div>
  </div>
</section>
<div class="text-end">
  <a href="tu-enlace-de-empeño" class="btn btn-primary">Empeñar ya mismo</a>
</div>
