app-item-card{
  margin:10px auto;
  height: 100px;
  /* background:#fff; */
}

app-item-card:hover{
  /* background:#bbb; */
}

.row app-item-card{
  width: 100px;
}
.col app-item-card div{
  width: 100%;
}
