<h1>En empeños pesados, facilitamos tu vida</h1>
<br />
<h3>Te imaginas la burocracia de ir fisicamente a empeñar?</h3>
<p>
  Pues aqui te ahorramos la hueva de ir a la quinta choya a arriesgar que te
  asalten, que te ofrezcan una baba de perico, te < inserte 20k acciones feas >
</p>
<br />
<h3 class="text-center">
  "En empeños empesados empeñamos de todo, hasta el semestre 💀"
</h3>
<br />
<h2 class="">Porque elegir empeños pesados?</h2>
<br />
<p>Aqui tienes distintas opciones para empeñar, por ejemplo:</p>
<!-- Inserte aqui los items empeñables :v-->
<div class="text-center" [ngClass]="{
  'row':screen.isDesktop(),
  'col':screen.isMobile(),
}">

  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>
