<form (ngSubmit)="updateItem()" #editForm="ngForm" *ngIf="_item">
  <div class="d-flex justify-content-end">
    <button
      (click)="onEdit()"
      [disabled]="!locked"
      type="button"
      class="btn btn-secondary mb-3"
    >
      <i class="bi bi-pencil"></i>
    </button>
  </div>
  <!-- ID del Artículo (oculto) -->
  <input type="hidden" name="id" [(ngModel)]="_item.id" />

  <!-- Cliente (No editable) -->
  <div class="mb-3">
    <label for="itemCliente" class="form-label"><b>Cliente:</b></label>
    <input
      type="text"
      class="form-control"
      id="itemCliente"
      name="cliente"
      [ngModel]="_item.cliente"
      disabled
    />
  </div>

  <!-- Artículo -->
  <div class="mb-3">
    <label for="itemName" class="form-label"><b>Nombre del Artículo:</b></label>
    <input
      type="text"
      class="form-control"
      id="itemName"
      name="item"
      [(ngModel)]="_item.articulo"
      disabled
    />
  </div>

  <!-- Estado -->
  <div class="mb-3">
    <label for="itemEstado" class="form-label"><b>Estado:</b></label>
    <select
      class="form-control"
      id="itemEstado"
      name="estado"
      [ngModel]="_item.id_estado"
      (change)="onChange($event)"
      required
      [disabled]="locked"
    >
      <option value="" disabled selected>Selecciona una opción</option>
      <option *ngFor="let estado of estados" [value]="estado.id">
        {{ estado.estado }}
      </option>
    </select>
  </div>

  <!-- Características -->
  <div class="mb-3">
    <label for="itemCaracteristicas" class="form-label"
      ><b>Características:</b></label
    >
    <input
      type="text"
      class="form-control"
      id="itemCaracteristicas"
      name="caracteristicas"
      [(ngModel)]="_item.caracteristicas"
      required
      [disabled]="locked"
    />
  </div>

  <!-- Observaciones -->
  <div class="mb-3">
    <label for="itemObservaciones" class="form-label"
      ><b>Observaciones:</b></label
    >
    <input
      type="text"
      class="form-control"
      id="itemObservaciones"
      name="observaciones"
      [(ngModel)]="_item.observaciones"
      required
      [disabled]="locked"
    />
  </div>
  <!-- <div class="mb-3">
    <label for="dias" class="form-label"><b>Días:</b></label>
    <select
      class="form-control"
      id="dias"
      name="dias"
      [disabled]="locked"
      (change)="onDaysChange($event)"
    >
      <option value="0" disabled selected>Selecciona el número de días</option>
      <option *ngFor="let dia of dias" [value]="dia">{{ dia }} Dias</option>
    </select>
  </div> -->
  <!-- Fecha de Ingreso -->
  <div class="mb-3">
    <label for="fechaIngreso" class="form-label"
      ><b>Fecha de Ingreso:</b></label
    >
    <input
      type="datetime-local"
      class="form-control"
      id="fechaIngreso"
      name="fecha_ingreso"
      [(ngModel)]="_item.fecha_ingreso"
      [disabled]="true"
    />
  </div>

  <!-- Fecha de Retiro -->
  <div class="mb-3">
    <label for="fechaRetiro" class="form-label"><b>Fecha de Retiro:</b></label>
    <input
      type="datetime-local"
      class="form-control"
      id="fechaRetiro"
      name="fecha_retiro"
      [(ngModel)]="_item.fecha_retiro"
      [disabled]="true"
    />
  </div>

  <!-- Fecha Límite -->
  <div class="mb-3">
    <label for="fechaLimite" class="form-label"><b>Fecha Límite:</b></label>
    <input
      type="datetime-local"
      class="form-control"
      id="fechaLimite"
      name="fecha_limite"
      [(ngModel)]="_item.fecha_limite"
      [disabled]="true"
    />
  </div>

  <!-- Cotización -->
  <div class="mb-3">
    <label for="cotizacion" class="form-label"><b>Cotización:</b></label>
    <input
      [(ngModel)]="_item.cotizacion"
      type="text"
      class="form-control"
      id="itemCotizacion"
      name="cotizacion"
      placeholder="Ingresa una cotización"
      autocomplete="off"
      required
      pattern="\d*"
      [disabled]="locked"
      (keypress)="numberOnly($event)"
    />
  </div>

  <!-- Foto del Artículo (manejado por separado) -->
  <div class="mb-3">
    <label for="itemPhoto" class="form-label"><b>Foto del Artículo:</b></label>
    <input
      type="file"
      class="form-control"
      id="itemPhoto"
      name="photo"
      (change)="onFileChange($event)"
      [disabled]="locked"
      ngModel="_item.imagen"
    />
    <br />
    <div *ngIf="image" class="image-preview d-flex justify-content-center">
      <button
        *ngIf="!locked"
        type="button"
        class="btn-close"
        style="
          position: relative;
          top: 10px;
          background-color: red;
          left: 290px;
        "
        aria-label="Close"
        (click)="onClear()"
      ></button>
      <img
        [src]="image"
        alt="Vista previa de la imagen"
        class="img-thumbnail square-img"
      />
    </div>
  </div>
  <!-- ... -->
  <br />
  <!-- Botón para guardar cambios -->
  <div class="text-end">
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
