
body{
  margin:0;padding: 0;

  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* width: 100%; */
  /* height: 100vh; */
  /* opacity: .5; */
  /* position: fixed; */
  font-family: Consolas;
}
/* When pones img */
/* Mobile */
@media (max-width: 768px) {

}
/* DesktOp */
@media (min-width: 769px) {
  body{
    background-image: url('assets/bg.jpg');
  }
}
.r{border-radius: 10px;}


.dark-mode {
  background-color: #2d3436;
  color: #fff;
}
.darker-mode {
  background-color: #232728;;
  color: #fff;
}
.light-mode {
  color: #2d3436;
  background-color: #dbecf3;
}
.lighter-mode {
  color: #2d3436;
  background-color: #ffffff;
}
