<app-abc-card-container>
  <div class="col-md-6" *ngFor="let empleado of found">
    <ng-container *ngIf="empleado; else loadingTemplate">
      <app-employee-card [data]="empleado"></app-employee-card>
    </ng-container>
  </div>
  <ng-template #loadingTemplate></ng-template>
</app-abc-card-container>
<app-abc-modal [ngModel]="modal" (open)="openModal()" (close)="closeModal()">
  <app-new-employee></app-new-employee>
  <!-- <app-new-client (form)="onSave($event)"></app-new-client> -->
</app-abc-modal>
