<!-- app-sidebar.component.html -->
<div class="sidebar-content">
  <!-- Contenido de la barra lateral, como enlaces o menús -->
  <div class="top-items">
    <ul>
      <li class="margen"></li>
      <li><app-profile-picture></app-profile-picture></li>
      <li class="margen"></li>
      <li class="opcion"><a routerLink="/inicio">Inicio</a></li>
      <li class="opcion"><a routerLink="/productos">Productos</a></li>
      <li class="opcion"><a routerLink="/contacto">Contacto</a></li>
      <!-- <li class="opcion"><a routerLink="/login">Login</a></li> -->
    </ul>
  </div>
  <div class="bot-items">
    <ul>
    <li class="opcion"><a routerLink="/login">Login</a></li>
    </ul>
  </div>
</div>
