.sidebar-content ul{list-style: none;padding-left: 15px;}
.opcion{margin-top:15px;}
.opcion a{
    color:#fff;
    text-decoration:none;
}
.sidebar-content{
    /* cambiar colores en base a lo deseado */
    background: #85baff;
    color:#000;
    border-left: 3px solid #55f;
    height: 100vh;
    min-width: 25vh;
}
.sidebar-content.dark{
  background: #09094e;
  color:#fff;

}
.sidebar-content.light{
  border-left: 3px solid #8383f3;

}
.margen{
    height: 50px;
}
.light ul li a, .light span{
  color:#000;
  font-weight: 600;
}

.sidebar-content {
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;;
    justify-items: stretch;
    align-items: stretch;
 }
 .bot-items{
    display: grid;
    align-items: end;
    position: relative;
    bottom: 100px;
 }
