<header>
  <div class="items">
    <div id="logo">
      <app-logo></app-logo>
    </div>
    <div id="acciones">
      <ul>
        <app-actions id="open" content="Abrir Cuenta"></app-actions>
        <app-actions id="prods" content="Productos"></app-actions>
        <app-actions id="invest" content="Invertir"></app-actions>
        <app-actions id="faq" content="Preguntas Frecuentes"></app-actions>
        <app-actions id="for_investors" content="Buscamos devs"></app-actions>
      </ul>
    </div>
    <div id="bar">
        <app-actions content="Login"></app-actions>
    </div>
  </div>
</header>
